.select-color-vsjkhasd input{
    background: #228be6 !important;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}


.input-edit-form-admin{
    height: 12em;
    transition: height 200ms;
    padding-top: 0;
}

.input-edit-form-admin textarea{
    width: 100%;
    height: 12em;
    border: none;
}

.blue-text {
    color: #0082ff;
  }